@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  /* components/StyledHeading.module.css */
.boldHeadings{
  font-family: sans-serif;
  font-weight: bold;
 
  margin-top: 4rem; /* mt-16 in Tailwind */
  margin-bottom: 1.5rem; /* my-6 in Tailwind */
  font-size: 1.875rem; /* Tailwind's text-3xl */
}

@media screen and (min-width: 768px) {
  .boldHeadings {
      font-size: 2.25rem; /* Tailwind's text-5xl */
  }
}

@media screen and (min-width: 1024px) {
  .boldHeadings {
      font-size: 3rem; /* Tailwind's text-5xl */
  }
}

.setCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;

}


.gallerySection {
  height: 436px !important;
  width: max-content !important;
}

.gallery{
  height: 318px !important;
  width: max-content !important;
}

.gallery-w{
  width: auto !important;
}

.tags-container::-webkit-scrollbar {
  display: none; 
}

.tags-container {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}


.footer-logo{
  gap:1;
}

@media screen  and (min-width:1025px){
  
  .footer-logo{
   gap: 0 !important;
  }
}
